<div class="flex flex-col">
  <section
    class="flex h-[48.125rem] w-full flex-col items-center justify-between gap-4 bg-primary px-4 pt-20 text-white lg:flex-row lg:justify-around"
  >
    <div
      class="flex flex-col items-center justify-between gap-8 text-center lg:items-start"
    >
      <h4 class="text-2xl font-thin">Pro.Beyond.</h4>
      <h3 class="text-7xl font-thin">
        IPhone 14
        <span class="font-bold">Pro</span>
      </h3>
      <h4 class="text-lg font-thin">
        Created to change everything for the better. For everyone
      </h4>
      <button class="rounded-md border border-white px-14 py-4">
        Shop Now
      </button>
    </div>

    <img
      src="assets/banners/iphone.svg"
      alt="iphone"
      class="max-h-[20rem] justify-self-end lg:h-[45rem] lg:max-h-none lg:self-end"
    />
  </section>
  <section
    class="flex h-[23.5rem] flex-col items-center justify-between gap-6 p-10"
  >
    <img src="assets/banners/airpods_max.svg" alt="Airpods Max" />
    <div class="flex flex-col justify-center gap-4 text-center">
      <h3 class="text-3xl">Apple AirPods Max</h3>
      <h6 class="text-optional">Computational audio. Listen, it's powerful</h6>
    </div>
  </section>
</div>
