@if (vm$ | async; as vm) {
  <section class="flex flex-col gap-8">
    <section class="flex justify-start gap-4 text-secondary">
      <button
        aria-label="New Arrival"
        [ngClass]="{ 'font-semibold text-black': filter() === 'newArrival' }"
        (click)="filterByType('newArrival')">
        New Arrival
      </button>
      <button
        aria-label="Bestseller"
        [ngClass]="{ 'font-semibold text-black': filter() === 'bestSeller' }"
        (click)="filterByType('bestSeller')">
        Bestseller
      </button>
      <button
        aria-label="Featured Products"
        [ngClass]="{ 'font-semibold text-black': filter() === 'featured' }"
        (click)="filterByType('featured')">
        Featured Products
      </button>
    </section>

    <section class="grid grid-cols-2 gap-4 lg:grid-cols-4">
      @for (item of vm.products; track $index) {
        <app-product-card
          [favorites]="vm.favorites"
          [item]="item"
          (navigate)="navigateTo($event)"
          (emitToggleFavorites)="toggleFavorite($event)" />
      }
    </section>

    <section></section>
  </section>
}
