<div
  class="flex h-[25.5rem] flex-col items-center justify-center gap-4 rounded-md bg-optional-2 p-4 text-center">
  <app-favorite-icon
    class="w-full"
    [isFavorite]="favorites | isInItems: item.id"
    (favoriteClick)="
      emitToggleFavorites.emit({ isFavorite: $event, item })
    "></app-favorite-icon>
  <div
    class="flex h-[6.375rem] w-[6.375rem] items-center justify-center bg-white p-4">
    <img class="size-full" [src]="item.images?.[0]" />
  </div>
  <div class="h-[2.5rem] overflow-ellipsis text-sm font-semibold">
    {{ item.header | minimizeText: 30 }}
  </div>
  <div class="h-[1.5rem] font-semibold">$ {{ item.price }}</div>
  <button
    class="flex h-[3rem] w-full items-center justify-center rounded-md border-2 border-black bg-black text-white hover:bg-white hover:text-black"
    (click)="navigate.emit(item.id)">
    Buy Now
  </button>
</div>
