<section
  class="flex flex-col items-center justify-center gap-12 bg-gray-100 p-8">
  @if (bigBannerProducts$ | async; as products) {
    @if (currentProduct(); as currentProduct) {
      <div
        class="flex w-full flex-col items-center justify-center gap-4 text-center">
        <div class="h-[22.5rem] w-full bg-white"></div>
        <div class="h-[3.125rem] text-lg font-bold">
          {{ currentProduct.header }}
        </div>
        <div
          class="h-[12.5rem] lg:max-w-[35rem]"
          [innerHTML]="currentProduct.description | safeHtml"></div>
      </div>
    }
    <app-radio-group [products]="products" [form]="form"></app-radio-group>
  }
</section>
