@if (vm$ | async; as vm) {
  @if (vm.bigBannerProducts) {
    <p-skeleton width="100%" height="41.25rem"></p-skeleton>
  } @else {
    <section
      class="flex flex-col items-center justify-center gap-12 bg-gray-100 p-8">
      @if (vm.bigBannerProducts; as products) {
        @if (currentProduct(); as currentProduct) {
          <div
            class="flex w-full flex-col items-center justify-center gap-4 text-center">
            <div
              class="flex h-[22.5rem] w-full items-center justify-center bg-white">
              <mat-icon>image_not_supported</mat-icon>
            </div>
            <div class="h-[3.125rem] text-lg font-bold">
              {{ currentProduct.header }}
            </div>
            <div
              class="h-[5rem] lg:max-w-[35rem]"
              [innerHTML]="currentProduct.description | safeHtml"></div>
            <button
              class="rounded-md border-[.0938rem] border-black px-14 py-4"
              aria-label="shop-now"
              (click)="navigateTo(currentProduct.id)">
              Shop Now
            </button>
          </div>
        }
        <app-radio-group [products]="products" [form]="form"></app-radio-group>
      }
    </section>
  }
}
