<section class="flex flex-col gap-8">
  <section class="flex justify-start gap-4 text-secondary">
    <button
      aria-label="New Arrival"
      [ngClass]="{ 'font-semibold text-black': filter() === 'newArrival' }"
      (click)="filterByType('newArrival')">
      New Arrival
    </button>
    <button
      aria-label="Bestseller"
      [ngClass]="{ 'font-semibold text-black': filter() === 'bestSeller' }"
      (click)="filterByType('bestSeller')">
      Bestseller
    </button>
    <button
      aria-label="Featured Products"
      [ngClass]="{ 'font-semibold text-black': filter() === 'featured' }"
      (click)="filterByType('featured')">
      Featured Products
    </button>
  </section>

  <section class="grid grid-cols-2 gap-4 lg:grid-cols-4">
    @for (item of products$ | async; track $index) {
      <div
        class="flex h-[25.5rem] flex-col items-center justify-center gap-4 bg-optional-2 p-4 text-center">
        <button
          aria-label="Favorite"
          class="flex h-[2rem] w-full items-center justify-end">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <div
          class="flex h-[6.375rem] min-w-[6.375rem] items-center justify-center bg-white">
          <mat-icon>image_not_supported</mat-icon>
        </div>
        <div class="h-[2.5rem] overflow-ellipsis text-sm font-semibold">
          {{ item.header | minimizeText: 30 }}
        </div>
        <div class="h-[1.5rem] font-semibold">$ {{ item.price }}</div>
        <button
          class="flex h-[3rem] w-full items-center justify-center rounded-md border-2 border-black bg-black text-white hover:bg-white hover:text-black"
          (click)="navigateTo(item.id)">
          Buy Now
        </button>
      </div>
    }
  </section>

  <section></section>
</section>
